#DashboardPage {
  padding-bottom: 50px;
}

.dashboard-side {
  min-width: 225px;
  width: 225px;
  margin: 0 10px;
  min-height: 500px;
}

.dashboard-content {
  min-width: calc(100% - 265px);
  width: calc(100% - 265px);
  margin: 0 10px;
  padding-left: 30px;
}

.dc-header {
  position: relative;
  border-bottom: 2px solid #ededed;
  height: 60px;
  display: flex;
  width: 100%;
  align-items: center;
  font-family: 'Lato';
  color: #696969;
  font-weight: 700;
  margin-bottom: 40px;
}

.dc-header>a {
  line-height: 60px;
  height: 100%;
  cursor: pointer;
  padding: 0 20px;
}

.dc-header-active {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 0;
  transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
  background-color: #94d537;
}

.product-item {
  cursor: pointer;
  display: flex;
  width: 100%;
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 3px;
  border-bottom: 1px solid #ddd;
  border-left: 3px solid #6daf0d;
  background-color: #fff;
  box-shadow: rgb(49 53 59 / 12%) 0px 1px 6px 0px;
  transition: background-color 0.3s ease-in-out;
}

.product-item:hover {
  background-color: #f5f5f5;
}

.product-item>img {
  min-width: 150px;
  min-height: 150px;
  width: 150px;
  height: 150px;
  object-fit: contain;
  object-position: center;
  border-radius: 2px;
}

.product-item-detail {
  text-align: left;
  width: 100%;
  font-size: 14px;
  padding-left: 20px;
}

.product-item-header {
  color: #696969;
  display: flex;
  align-items: flex-start;
}

.product-item-header .btn {
  color: #696969;
  display: flex;
  height: 30px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0 4px; */
  border-radius: 0;
  border: none;
}

.product-item-header .btn:last-child {
  border-left: 1px solid #696969;

}

.product-item-name {
  font-family: 'Lato';
  font-size: 20px;
  font-weight: 700;
  margin-right: 50px;
  letter-spacing: 0.5px;
  flex-grow: 1;
}

.product-item-category {
  font-family: 'Lato';
  font-size: 14px;
  line-height: 14px;
  flex-grow: 1;
  color: #696969;
}

.product-item-price,
.product-item-stock {
  font-family: 'Lato';
  font-size: 16px;
  margin: 2px 0;
  font-weight: 700;
  color: #696969;
}

.product-item-stock {
  font-weight: normal;
  font-size: 13px;
}

.product-item-description {
  font-family: 'Lato';
  margin-bottom: 0;
  font-size: 14px;
  color: #696969;
}

.modal-content {
  border-radius: 0;
  border: none;
}

.modal {
  background-color: rgba(0 0 0/35%);
}

.modal-header {
  border-bottom-color: #89d023;
  padding: 25px 40px;
}

.custom-modal-title {
  font-family: 'Lato';
  font-size: 26px;
  line-height: 0px;
  color: #696969;
  font-weight: 700;
}

.modal-body {
  max-height: 575px;
  overflow-y: auto;
  padding: 20px 40px 30px;
}

.swal2-popup {
  border-radius: 0 !important;
}

.swal2-title {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 18px;
}

.swal2-actions>.btn {
  margin: 6px;
}

.custom-row-1 {
  width: calc(100% + 24px);
  position: relative;
  left: -12px;
  display: flex;
}

.custom-col-1 {
  width: calc(50% - 24px);
  margin: 0 12px;
}

/* Settings */
.dc-settings-content {
  padding-left: 20px;
  font-family: 'Lato';
  font-size: 16px;
  color: #696969;
}

.dc-tag {
  font-weight: 700;
}

.dc-settings-content>p {
  margin-bottom: 6px;
}

.dc-settings-content>p>span {
  display: inline-block;
  width: 150px;
}

.address-card,
.cart-card {
  padding: 20px;
  margin-top: 20px;
  border-left: 3px solid #6daf0d;
  font-family: 'Lato';
  font-size: 16px;
  color: #696969;
  border-radius: 2px;
  /* background-color: #4fd15a29; */
  box-shadow: rgb(49 53 59 / 12%) 0px 1px 6px 0px;
}

.cart-card {
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.3s ease-in-out
}

.cart-card:hover {
  background-color: #f5f5f5;
}

.cart-card {
  cursor: pointer;
}

.full-address {
  margin-bottom: 0;
}

.full-address span {
  font-weight: 600;
  text-transform: capitalize;
}

.default-address {
  display: inline-block;
  margin-bottom: 6px;
  padding: 3px 8px;
  font-size: 13px;
  font-weight: 600;
  border-radius: 2px;
  background-color: #4fd15a29;
}

.address-name {
  display: block;
  font-weight: 900;
  margin: 2px 0 8px;
  font-size: 26px;
}

.cart-name {
  display: block;
  font-weight: 900;
  margin: 2px 0 0;
  font-size: 18px;
}

.cart-content {
  width: calc(100% - 100px);
  padding-left: 24px;
}

.cart-img>img {
  min-width: 100px;
  width: 100px;
  min-height: 100px;
  height: 100px;
  object-fit: contain;
  object-position: center;
}

.cart-price {
  font-weight: 600;
  font-size: 16px;
}

.cart-card-author {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  padding: 8px;
  height: 36px;
  margin-bottom: 20px;
  border-radius: 18px;
}

.cart-action-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 30px;
}

.cart-action-container button {
  min-width: 24px;
  width: 24px;
  min-height: 24px;
  height: 24px;
  border-radius: 40px;
  padding: 0;
  margin: 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  border-color: #94d537;
  transition: border-color 0.3s ease-in-out;
}

.cart-action-container button:hover {
  border-color: #6daf0d !important;
}

.cart-action-container button>span {
  font-size: 20px;
  color: #568a08;
  transition: color 0.3s ease-in-out;
}

.cart-action-container button:hover>span {
  color: #6daf0d;
}

.bank>img {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  object-fit: contain;
  object-position: center;

}

.bank {
  border-radius: 4px;
  overflow: hidden;
}

/* HISTORIES */
.history-row {
  border-left: 3px solid;
  border-color: #6daf0d;
  border-radius: 4px;
  padding: 20px;
  font-family: 'Lato';
  font-size: 14px;
  margin-bottom: 15px;
  box-shadow: rgb(49 53 59 / 18%) 0px 1px 6px 0px;
  color: #696969;
}

.hs-orderid {
  color: #444444;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  width: 100%;
  align-items: center;
}

.hs-status {
  display: inline-block;
  margin-left: 4px;
  font-size: 12px;
  font-weight: 600;
  color: #6daf0d;
  padding: 2px 8px;
  border-radius: 2px;
  background-color: #eee;
}

.hs-item {
  width: 100%;
  display: flex;
  margin-bottom: 12px;
  /* border-bottom: 1px solid #ccc; */
}

.hs-item>img {
  min-width: 80px;
  width: 80px;
  height: auto;
  object-fit: contain;
  object-position: top;
}

.hs-item-content {
  width: 100%;
  padding-left: 20px;
}

.hs-item-content>p:first-child {
  margin-bottom: 0;
  width: 100%;
  font-weight: 600;
  font-size: 15px;
}

.hs-item-content>p:nth-child(2)>span:first-child {
  flex-grow: 1;
}

.hs-author {
  font-weight: 600;
  color: #6daf0d;
  padding: 2px 8px;
  border-radius: 2px;
  background-color: #eee;
}