.dashboard-side {
  min-width: 275px;
  width: 275px;
  margin: 0 10px;
  height: 100vh;
}

.dashboard-content {
  min-width: calc(100% - 315px);
  width: calc(100% - 315px);
  margin: 0 10px;
  height: 100vh;
}

.dc-header {
  border-bottom: '#ced4da';
  height: 40px;
  display: flex;
  width: 100%;
  align-items: center;
  font-family: 'Lato';
  color: #696969;
  font-weight: 700;
}

.dc-header>a {
  padding: 0 20px;
}