.card-prod-col {
  width: calc(100%/3 - 24px);
  margin: 0 12px;
  font-family: 'Lato';
  color: #696969;
}

.accordion-button {
  background-color: transparent !important;
  border-radius: 0 !important;
}